html {
  height: 100%;
}

body {
  background-color: slateblue;
  min-height: 100vh;
  padding: 0;
}
.flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  background-color: darkgray;
  margin: auto auto;
  color: white;
  padding: 10px 40px;
}
a {
  color: darkblue;
}
